page-about {
	.toolbar-background {
		background-color:map-get($colors, white);
	}
	.toolbar-content {
		.searchbar {
			background:#fff;
			.searchbar-input-container {
				.searchbar-input {
				    border-radius: 50px;
     				border: 0.5px solid #78869B; 
     				background:#fff;
				    text-align: center;
				}
			}
		}
	}
	
	.content {
		background-color:map-get($colors, gray);
		.card {
			width:100%;
			padding-left:10px;
			padding-right:10px;
			margin-top:10px;
			.info {
				padding-top: 5px;
    			padding-bottom: 5px;
				.avatar {
					img {
						border-radius: 5px;
					}
				}
				.name {
					color:map-get($colors, myblue);
					// font-family: 'SanFranciscoDisplay-Semibold';
					// font-weight: 500;
				}
				.time {
					color:map-get($colors, mytext);
					font-size:12px;
					// font-family: 'SanFranciscoDisplay-Regular';
				}
			}

			.bg-image {
				height: 200px;
				object-fit: cover;
				border-radius: 5px;
			    width: 100%;
    			background: #ececec;
			}

			.card-content {
				.desc {
					color:map-get($colors, mytext);
					font-size:14px;
					// font-family: 'SanFranciscoDisplay-Regular';	
				}
			}
			.ion-ios-myheart-outline,.ion-ios-myheart,.ion-md-myheart,.ion-md-myheart-outline {
				content: url('../assets/icon/heart.png');
			    min-width: 21px !important;
			    min-height: 15px !important;
			    width: 21px;
			    height: 15px;
			}
			.ion-ios-share-outline,.ion-ios-share,.ion-md-share,.ion-md-share-outline {
				content: url('../assets/icon/share-outline.png');
				min-width: 21px !important;
			    min-height: 17px !important;
			    width: 21px;
			    height: 17px;
			}
			.ion-ios-message-outline,.ion-ios-message,.ion-md-message,.ion-md-message-outline {
				content: url('../assets/icon/message.png');
			    min-width: 22px !important;
			    min-height: 18px !important;
			    width: 22px;
			    height: 18px;
			}

			.like,.cmt,.share{
				color:map-get($colors, mytext);
				// font-family: 'SanFranciscoDisplay-Semibold';
				font-size:16px;
				padding-left: 5px;
			}
		}
	}
}
