<ion-header no-border>
  <ion-navbar no-padding>
    <ion-searchbar mode="ios" [(ngModel)]="searchText" (ionInput)="getItems($event)" placeholder="Tìm kiếm..."></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-card no-border no-margin no-padding *ngFor="let data of datas">
	  <ion-item no-padding class="info">
	    <ion-avatar item-start class="avatar">
	      <img *ngIf='data.user_avatar && data.scope!=1' src="http://appsolutely.xzone.work/{{data.user_avatar}}">
	      <img *ngIf='data.scope==1' src="assets/imgs/logoappsolutely.png">
	    </ion-avatar>
	    <h2 class="name" *ngIf="data.scope==1">Appsolutely news</h2>
	    <h2 class="name" *ngIf="data.scope!=1">{{data.username}}</h2>
	    <p class="time">{{data.time}}</p>
	  </ion-item>
	  <img class="bg-image" *ngIf='data.source_link' src="http://appsolutely.xzone.work/{{data.source_link}}">
	  <ion-card-content no-padding padding-top padding-bottom>
	    <p class="desc">{{data.title}}</p>
	  </ion-card-content>
	  <ion-row>
	    <!-- <ion-col>
	      <button ion-button icon-start clear small class="mybutton">
	        <ion-icon name="myheart" class="liked"></ion-icon>
	        <div class="like">{{data.like}}</div>
	      </button>
	    </ion-col>
	    <ion-col>
	      <button ion-button icon-start clear small class="mybutton">
	        <ion-icon name="message"></ion-icon>
	        <div class="cmt">{{data.cmt}}</div>
	      </button>
	    </ion-col> -->
	    <ion-col center text-center>
	      <button mode="ios" ion-button icon-start clear class="mybutton" (click)="shareNow(data)">
	        <ion-icon name="share"></ion-icon>
	        <div class="share">share</div>
	      </button>
	    </ion-col>
	  </ion-row>
	</ion-card>
  <ion-fab right bottom>
    <button ion-fab mini color="myblue" (click)="openForm()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
