page-tabs {
	.custom-my-tab {
		background-color:map-get($colors, myblue);
		.tabbar {
			.ion-ios-tab1-outline,.ion-ios-tab1,.ion-md-tab1,.ion-md-tab1-outline {
				content: url('../assets/icon/tab1.png');
				min-width: 23px !important;
				min-height: 23px !important;
				width: 23px;
				height: 23px;
			}
			.ion-ios-tab2-outline,.ion-ios-tab2,.ion-md-tab2,.ion-md-tab2-outline {
				content: url('../assets/icon/tab2.png');
				min-width: 23px !important;
				min-height: 23px !important;
				width: 23px;
				height: 23px;
			}
			.ion-ios-tab3-outline,.ion-ios-tab3,.ion-md-tab3,.ion-md-tab3-outline {
				content: url('../assets/icon/tab3.png');
				min-width: 18px !important;
				min-height: 23px !important;
				width: 18px;
				height: 23px;
			}

			.tab-button[aria-selected=true] {
				background-image:url('../assets/icon/tabline.png');
				background-position: 52% 100%;
			    background-repeat: no-repeat;
			    background-size: 40px 3px;
			}
		}
	}
}