<ion-tabs no-border class="custom-my-tab" #mytabs color="myblue">
  <ion-tab [root]="tab1Root" tabTitle="" tabIcon="tab1"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="" tabIcon="tab2"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="" tabIcon="tab3"></ion-tab>
</ion-tabs>
