@font-face {
	font-family: "SanFrancisco";
	src: url("./SanFranciscoDisplay-Black.otf") format("otf"),
		 ("./SanFranciscoDisplay-Bold.otf") format("otf"),
		 ("./SanFranciscoDisplay-Heavy.otf") format("otf"),
		 ("./SanFranciscoDisplay-Light.otf") format("otf"),
		 ("./SanFranciscoDisplay-Medium.otf") format("otf"),
		 ("./SanFranciscoDisplay-Regular.otf") format("otf"),
		 ("./SanFranciscoDisplay-Semibold.otf") format("otf"),
		 ("./SanFranciscoDisplay-Thin.otf") format("otf"),
		 ("./SanFranciscoDisplay-Ultralight.otf") format("otf"),
}