page-contact {
	.toolbar-title {
		font-weight: bold;
		color:map-get($colors, myblue);
		// font-family: 'SanFranciscoDisplay-Semibold';
	}

	.searchbar-input-container {
		.searchbar-input {
		    border-radius: 50px;
				border: 0.5px solid #78869B; 
				background:#fff;
		    text-align: center;
		}
	}
			
	.content,.toolbar-background {
		background-color:map-get($colors, gray);
		.card {
			width:100%;
			padding-left:10px;
			padding-right:10px;
			margin-top:10px;
			.info {
				padding-top: 0px;
    			padding-bottom: 0px;
				.avatar {
					margin: 9px 8px 9px 0;
					img {
						border-radius: 5px;
					}
				}
				.name {
					color:map-get($colors, myblue);
					// font-family: 'SanFranciscoDisplay-Semibold';
					// font-weight: 500;
				}
				.time {
					color:map-get($colors, mytext);
					font-size:12px;
					// font-family: 'SanFranciscoDisplay-Regular';
				}

				.item-inner {
					.label {
						margin:0px;
					}
				}
			}
		}
	}
}	
