<ion-header no-border [scrollHide]="headerScrollConfig" [scrollContent]="pageContent">
  <ion-navbar no-padding>
    <ion-title text-center>
      Contact
    </ion-title>
  </ion-navbar>
  <ion-toolbar no-padding>
    <ion-searchbar mode="ios" [(ngModel)]="terms" placeholder="Tìm kiếm..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content #pageContent fullscreen>
  <div *ngFor="let data of datas | search : terms">
    <ion-card no-border no-margin no-padding *ngIf="data._objectInstance.phoneNumbers && data._objectInstance.name.formatted">
      <ion-item no-padding class="info">
        <ion-avatar item-start class="avatar">
          <img *ngIf="data._objectInstance.photos" src="{{data._objectInstance.photos[0].value}}">
          <img *ngIf="!data._objectInstance.photos" src="assets/imgs/logoappsolutely.png">
        </ion-avatar>
        <h2 class="name">{{data._objectInstance.name.formatted}}</h2>
        <p class="time">{{data._objectInstance.phoneNumbers[0].value}}</p>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
