<ion-content padding-top>
<div *ngIf="users">
  <ion-list no-lines no-margin>
    <ion-item class="infor">
      <ion-thumbnail item-start>
        <img *ngIf='users.avatar' src="http://appsolutely.xzone.work/{{users.avatar}}" class="avatar">
      </ion-thumbnail>
      <h2 class="name">{{users.name}}</h2>
      <h3 class="descrip">{{users.user_status}}</h3>
    </ion-item>
  </ion-list>
  <ion-grid margin-top padding>
    <ion-list no-lines no-margin>
      <ion-item no-padding padding-bottom>
        <img src="assets/icon/mail.png" item-start style="width: 18px">
        <h2>Email</h2>
        <p>{{users.email}}</p>
      </ion-item>
      <ion-row>
        <ion-col no-padding col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3>
          <ion-item no-padding>
            <img src="assets/icon/mobile.png" item-start style="width: 13px; margin-top: -16px; margin-right: 12px;">
            <h2>Phone</h2>
            <p>{{users.phone}}</p>
          </ion-item>
        </ion-col>
        <ion-col no-padding col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3>
          <ion-item no-padding>
            <img src="assets/icon/calendar.png" item-start style="width: 17px; margin-top: -16px;">
            <h2>Date of birth</h2>
            <p>{{users.dob}}</p>
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col no-padding col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3>
          <ion-item no-padding>
            <img src="assets/icon/sex.png" item-start style="margin-right: 10px;margin-top: -20px;">
            <h2>Sex</h2>
            <p *ngIf="users.gender == 1">Male</p>
            <p *ngIf="users.gender != 1">Female</p>
          </ion-item>
        </ion-col>
        <ion-col no-padding col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3>
          <ion-item no-padding>
            <img src="assets/icon/global.png" item-start style="margin-top: -20px;">
            <h2>Country</h2>
            <p>{{users.country}}</p>
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col no-padding col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3>
          <ion-item no-padding>
            <img src="assets/icon/book.png" item-start style="margin-right: 10px;margin-top: -20px;">
            <h2>Passport</h2>
            <p>{{users.passpost}}</p>
          </ion-item>
        </ion-col>
        <ion-col no-padding col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3>
          <ion-item no-padding>
            <img src="assets/icon/web.png" item-start style="margin-top: -20px;">
            <h2>Website</h2>
            <p>{{users.website}}</p>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col no-padding col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3>
          <ion-item no-padding>
            <img src="assets/icon/facebook-outline.png" item-start style="height: 20px; width: auto; margin-top: -20px; margin-right: 12px; margin-left: 2px;">
            <h2>Facebook</h2>
            <p>{{users.facebook}}</p>
          </ion-item>
        </ion-col>
        <ion-col no-padding col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3>
          <ion-item no-padding>
            <img src="assets/icon/skype-outline.png" item-start style="margin-top: -20px;">
            <h2>Skype</h2>
            <p>{{users.skype}}</p>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col no-padding col-4 col-sm-4 col-md-6 col-lg-4 col-xl-3>
          <ion-item no-padding>
            <img src="assets/icon/qrcode.png" item-start style="margin-right:10px; margin-top: -20px;">
            <h2>QR Code</h2>
            <p>&nbsp;</p>
          </ion-item>
        </ion-col>
        <ion-col no-padding col-8 col-sm-8 col-md-6 col-lg-4 col-xl-3>
          <qr-code [value]="createdCode" [size]="200" background="white" foreground="#78869B"></qr-code>
        </ion-col>
      </ion-row>
    
    </ion-list>
  </ion-grid>
</div>
</ion-content>
