page-home {
	.content {
		background-color:map-get($colors, gray);
		.list {
			.infor {
				.avatar {
					width: 80px;
					height:80px;
					border-radius: 5px;
				}
				.label {
					text-overflow: initial;
	    			white-space: initial;
	    			.name {
						color:map-get($colors, myblue);
						font-size:20px;
						// font-family: 'SanFranciscoDisplay-Semibold';
						// font-weight: 500;
	    			}
	    			.descrip {
						color:map-get($colors, mytext);
						font-size:14px;
						// font-family: 'SanFranciscoDisplay-Regular';
	    			}
				}
			}
		}
		.grid {
			background-color:map-get($colors, white);
			.list {
				.item {
					.label {
						padding-top:5px;
					}
					img {
						width: 15px; 
						margin-top: -16px; 
						margin-right: 8px;
					}

					h2 {
						color:map-get($colors, myblue);
						font-size:14px;
						// font-family: 'SanFranciscoDisplay-Regular';
					}

					p {
						color:map-get($colors, mytext);
						font-size:17px;
						// font-family: 'SanFranciscoDisplay-Semibold';
					}
				}
			}
		}
	}
}