<ion-header no-border>
  <ion-toolbar  mode="ios">
    <ion-title>
      New Posts 
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" style="color:#95C7DF">Cancel</span>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="post()">
        <span ion-text color="primary" style="color:#95C7DF">post</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <textarea [(ngModel)]="text" rows="10" style="width:100%; border:1px solid #78869B; border-radius:5px;" placeholder="write..."></textarea>
  <img *ngIf="imageURI" class="bg-image" src="{{imageURI}}" style="
        border-radius: 5px;
          width: 100%;">
  <ion-list no-border no-line no-margin no-padding *ngIf="!imageURI">
    <ion-item no-padding (click)="getImage()" style="color:#95C7DF">
      <ion-icon name="md-image" item-start></ion-icon> + Add media
    </ion-item>
  </ion-list>
</ion-content>