// @font-face {
// 	font-family: "SanFrancisco";
// 	src: url("./SanFranciscoDisplay-Black.otf") format("otf"),
// 		 ("./SanFranciscoDisplay-Bold.otf") format("otf"),
// 		 ("./SanFranciscoDisplay-Heavy.otf") format("otf"),
// 		 ("./SanFranciscoDisplay-Light.otf") format("otf"),
// 		 ("./SanFranciscoDisplay-Medium.otf") format("otf"),
// 		 ("./SanFranciscoDisplay-Regular.otf") format("otf"),
// 		 ("./SanFranciscoDisplay-Semibold.otf") format("otf"),
// 		 ("./SanFranciscoDisplay-Thin.otf") format("otf"),
// 		 ("./SanFranciscoDisplay-Ultralight.otf") format("otf"),
// }


@font-face {
	font-family: "SanFrancisco";
	font-style: normal;
  	font-weight: normal;
  	src: url("../assets/fonts/SanFranciscoDisplay-Regular.otf") format("otf");
	src: url("../assets/fonts/SanFranciscoDisplay-Black.otf") format("otf"),
		 url("../assets/fonts/SanFranciscoDisplay-Bold.otf") format("otf"),
		 url("../assets/fonts/SanFranciscoDisplay-Heavy.otf") format("otf"),
		 url("../assets/fonts/SanFranciscoDisplay-Light.otf") format("otf"),
		 url("../assets/fonts/SanFranciscoDisplay-Medium.otf") format("otf"),
		 url("../assets/fonts/SanFranciscoDisplay-Semibold.otf") format("otf"),
		 url("../assets/fonts/SanFranciscoDisplay-Thin.otf") format("otf"),
		 url("../assets/fonts/SanFranciscoDisplay-Ultralight.otf") format("otf"), 
		 local('SanFrancisco')
}